input.autocomplete {
	border: 1px solid var(--brite_purple01);
	border-radius: 5px;
	font-family: BentonSansCond-Regular, Helvetica, sans-serif;
	padding: 0.5rem;
	width: 100px;
}
input.autocomplete:focus {
	outline: none !important;
    border: 3px solid var(--brite_purple01);
}

.no-suggestions {
	color: #999;
	padding: 0.5rem;
}

.suggestions {
	background-color: #FFF;
	border: 1px solid #999;
	border-top-width: 0;
	font-family: BentonSansCond-Regular, Helvetica, sans-serif;
	list-style: none;
	margin-top: 0;
	max-height: 143px;
	overflow-y: auto;
	padding-left: 0;
	position: absolute;
	width: calc(300px + 1rem);
}

.suggestions li {
	padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
	background-color: var(--brite_purple01);
	color: #FFF;
	cursor: pointer;
	font-weight: 700;
}

.suggestions li:not(:last-of-type) {
	border-bottom: 1px solid #999;
}