#root h1 {
	text-align: center;
}
#input {
	display: block;
	font-size: 1.25rem;
	margin: 0 auto 25px auto;
	text-align: center;
}
#input input {
	border: 3px solid #F58745;
	border-radius: 5px;
}
.autocomplete-container > h4 {
	margin-bottom: 10px;
	margin-top: 5px;
}
/*#filter-header {
	color: var(--grey01);
	font-family: BentonSansCond-Regular, Helvetica, sans-serif;
	text-transform: uppercase;
}*/
#filter-list {
	display: flex;
	justify-content: space-around;
	margin: 10px 0 25px 0;
}
.toggle-container {
	max-width: 100px;
	text-align: center;
}
.toggle-container > h4 {
	margin-bottom: 3px;
}
.no-data {
	text-align: center;
}
.footer {
	color: #F58745;
	padding: 5px 0;
	text-align: center;
}
