.card {
	border: 1px solid #D1D2D4;
	border-radius: 5px;
	margin: 0 auto 2rem auto;
	padding: 5px;
	width: 95%;
}
.card p {
	margin: 0; 
}
.card header {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.card .contact {
	margin: 5px 0 15px 0;
}
.card .contact .address {
	color: var(--grey01);
	padding-bottom: 3px;
}
.card .bold {
	font-weight: 800;
}
.card .info {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 10px;
}
.card .info p {
	flex: 1;
	font-size: 0.9rem; 
	padding: 0 7px;
	text-align: center;
}

.card .info p .bold {
	color: var(--brite_purple01);
	display: block;
	font-size: 1rem;
	font-weight: 800;
}
.card .type {
	background-color: var(--brite_purple01);
	border-radius: 3px;
	color: #FFF;
	padding: 2px 4px;
}
.card .details {
	font-size: 0.9rem;
	margin-bottom: 3px;
}
.App .card h4 {
	color: var(--grey01);
	font-family: 'BentonSansCond-RegItalic', italic;
}

.card .info {
	margin-block-start: 4px;
}

@media screen and (min-width: 600px) {
	.card-list .card {
		margin: 0 auto 1rem auto;
		width: 45%;
	}
}